@using Microsoft.AspNetCore.Identity
@using Nexora.Web.Data.Models
@inject SignInManager<AppUser> SignInManager

<header class="ud-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
                        <img class="d-block" src="~/brand/logo-icon.svg" alt="Nexora" height="40" />
                        <span class="nexora-brand-text">Nexora</span>
                    </a>

                    <button class="navbar-toggler">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse">
                        <ul id="nav" class="navbar-nav mx-auto">
                            <li class="nav-item"><a class="ud-menu-scroll" href="/#home">Home</a></li>
                            <li class="nav-item"><a class="ud-menu-scroll" href="/#features">Features</a></li>
                            <li class="nav-item"><a class="ud-menu-scroll" href="/#about">About</a></li>
                            <li class="nav-item"><a class="ud-menu-scroll" href="/#pricing">Pricing</a></li>
                            <li class="nav-item"><a class="ud-menu-scroll" href="/#contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="navbar-btn d-none d-sm-inline-block">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a href="/Dashboard" class="ud-main-btn ud-login-btn">Open App</a>

                            <form method="post" action="/Account/Logout" style="display:inline-block; margin-left:8px;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="ud-main-btn ud-white-btn" style="border:none;">
                                    Logout
                                </button>
                            </form>
                        }
                        else
                        {
                            <a href="/app" class="ud-main-btn ud-login-btn">Open App</a>
                            <a class="ud-main-btn ud-white-btn" href="/Account/Register">Sign Up</a>
                            <a href="/Account/Login" class="ud-main-btn ud-login-btn" style="margin-left:8px;">Sign In</a>
                        }
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>